<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesignCode15.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36F634BD2B0E1BC700E12F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F634CD2B0E1BC800E12F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F634D72B0E1BC800E12F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
